<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% set footerNav = [
        {'url': 'home', 'display_name': 'Home'},
        {'url': 'aboutme', 'display_name': 'About Me'},
        {'url': 'gallery', 'display_name': 'Gallery'},
        {'url': 'contact', 'display_name': 'Contact'},
        {'url': 'guestbook', 'display_name': 'Guestbook'},
        {'url': 'create', 'display_name': 'Create'},
        {'url': 'github_login', 'display_name': 'Login'}
    ] -%}
    {% block content %}
    
    <footer class="text-center" id="footer">
        <!-- Copyright -->
        <div class="row justify-content-around">
            <div class="col-md-4">
                <ul class="footer-nav address">
                    <li>Email: <a href="mailto:kuba.bujak0@wp.pl">kuba.bujak0@wp.pl</a></li>
                    <li>Phone: <a href="tel:511179660">511 179 660</a></li>
                </ul>
            </div>
            <div class="col-md-4 text-center">
                <ul class="footer-nav align-center">
                    <li>
                        PROJEKT I WYKONANIE: 
                        <a href="https://www.facebook.com/kuba.bujak.182">
                            JAKUB BUJAK
                        </a>
                    </li>
                </ul>
                
                
            </div>
            <div class="col-md-4">
                <ul class="footer-nav">
                    {% for item in footerNav %}
                    <li>
                         <a
                           href="{{url_for(item['url']) }}">
                            {{ item['display_name'] }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <!-- Copyright -->
      </footer>
                    
    {% endblock %}
               
</body>
</html>