body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
  }
  /*
   * Formatting the nav bar area
   */
  
  #navbar{
    overflow: hidden;
    z-index: 10;
  } 

  .navbar-nav{
    font-size: 2em;
    padding: 10px;
    position: absolute;
    right: 0;
    margin-right: 20px;
  }


  /*
   * Centering the body content - menu
   */

   .second-nav{
    height: 85vh;
   }
  .page-header{
    margin-top: 50px;
  }

  .container-fluid .main-options{
    text-align: center;
    background-color: #f7f7f7;
    margin-top: 50px;
    height: 65vh;
  }

  .container-fluid .main-options:first-child{
    border-right: 2px solid white;
  }

  .container-fluid .main-options:nth-child(2){
    border-right: 2px solid white;
    border-left: 2px solid white;
  }

  .container-fluid .main-options:nth-child(3){
    border-left: 2px solid white;
  }

  .main-options .article-header{
    color: #444;
    padding: 20px;
    font-size: 2.5em;
  }

  .index-nav-img{
    width: 100%;
    max-height: 550px;
    object-fit: cover;
  }

  .main-options p{
    padding: 40px 10px 10px 20px;
    text-align: left;
    font-size: 1.2em;
  }


   /*
   * Centering the body content - blog
   */

   #blog{
     width: 70%;
     margin: auto;
   }

   .header-margin{
    margin-bottom: 50px;
   }

   #blog .blog-container{
     padding: 20px;
     margin-bottom: 30px;
     background-color: #f7f7f7;
     border-radius: 10px;
   } 

   .blog-image{
     border-radius: 10px;
     object-fit: cover;
   }

   .blog-content{
     font-size: 1.2em
   }

   .blog-content h3{
     text-align: center;
     margin-bottom: 20px;
   }

  /*
   * FOOTER
   */

   footer{
     background-color: black;
     font-size: 0.8em;
     text-transform: uppercase;
     color: white;
     padding: 15px;
     text-align: center;
     letter-spacing: 1px;
   }

   footer a{
     color: white;
     text-decoration: none;
   }


  /*
   * ABOUT ME
   */

   .container{
     height: 100vh;
     margin-top: 50px;
   }

   .blockquote{
     margin-top: 20px;
     font-size: 1.2em;
   }

   .blockquote-footer{
     font-size: 1em;
   }

   .about-header{
     text-align: center;
   }


   

   /*
   * GALLERY
   */
.container-gallery{
  width: 70%;
  margin-bottom: 100px;
}
   .postcard
{
	text-align: center;
	padding: 20px;
  height: 30vh;
}

.postcard p
{
	padding: 5px;
	margin-top: 10px;
}

.photo
{
	transition: all 0.2s ease-in-out;
}

.gallery-nav-img{
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}

.photo:hover
{
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
}



/* 
contact
*/

#contact-container{
  text-align: left;
  font-size: 1.3em;
}

.form-control{
  padding: 10px;
  font-size: 1.2em;
}

#submit{
  width: 100%;
  background-color: black;
  color: white;
  padding: 10px;
}


/*
Social Media Buttons
*/

.social-panel{
  text-align: center;
}
.fa {
  padding: 20px;
  font-size: 2em;
  width: 16%;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 10%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}