body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
  }
  /*
   * Formatting the nav bar area
   */
  
  #navbar{
    overflow: hidden;
    z-index: 10;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .navbar-nav{
    font-size: 2em;
    padding: 10px;
  }


  /*
   * Centering the body content - menu
   */

   .second-nav{
    height: 85vh;
   }
  .page-header{
    margin-top: 50px;
  }

  .container-fluid .main-options{
    text-align: center;
    background-color: #f7f7f7;
    margin-top: 50px;
    height: 65vh;
  }

  .container-fluid .main-options:first-child{
    border-right: 2px solid white;
  }

  .container-fluid .main-options:nth-child(2){
    border-right: 2px solid white;
    border-left: 2px solid white;
  }

  .container-fluid .main-options:nth-child(3){
    border-left: 2px solid white;
  }

  .main-options .article-header{
    color: #444;
    padding: 20px;
    font-size: 2.5em;
  }

  .index-nav-img{
    width: 100%;
    max-height: 550px;
    object-fit: cover;
  }

  .main-options p{
    padding: 40px 10px 10px 20px;
    text-align: left;
    font-size: 1.2em;
  }


   /*
   * Centering the body content - blog
   */

   #blog{
     width: 70%;
     margin: auto;
   }

   .blog-header-margin{
    margin-bottom: 50px;
   }

   #blog .blog-container{
     padding: 20px;
     margin-bottom: 30px;
     background-color: #f7f7f7;
     border-radius: 10px;
   } 

   .blog-image{
     border-radius: 10px;
     object-fit: cover;
   }

   .blog-content{
     font-size: 1.2em
   }

   .blog-content h3{
     text-align: center;
     margin-bottom: 20px;
   }

  /*
   * FOOTER
   */

   footer{
     background-color: black;
     font-size: 0.8em;
     text-transform: uppercase;
     color: white;
     padding: 15px;
     text-align: center;
     letter-spacing: 1px;
   }

   footer a{
     color: white;
     text-decoration: none;
   }


  /*
   * ABOUT ME
   */

   .container #aboutme-container{
     margin-top: 20px;
     padding: 10px;
   }

   .container #aboutme-container #aboutme-photo{
     display: inline-block;
     background: url("/static/myPhoto.jpg") no-repeat 0px 0px;
     background-position: right;
     background-size: cover;
     width: 40%;
     height: 800px;
     border-radius: 20%;
     margin-right: 50px;
   }

   .container #aboutme-container .aboutme-text{
     display: inline-block;
     width: 40%;
     font-size: 1.3em;
     height: 800px;
   }

   /*
   * GALLERY
   */

   .postcard
{
	text-align: center;
	padding: 5px;
}

.postcard p
{
	padding: 5px;
	margin-top: 10px;
}

.photo
{
	transition: all 0.2s ease-in-out;
}

.photo:hover
{
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
}

#contact-container{
  text-align: left;
  font-size: 1.3em;
}


/* 
contact
*/

.form-control{
  padding: 10px;
  font-size: 1.2em;
}

#submit{
  width: 100%;
  background-color: black;
  color: white;
  padding: 10px;
}