{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% set active_page = "index" -%}
{% block body %}
    <main class="container">
        <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4 header-margin">About Me</h1>
        </div>
        <div class="row justify-content-around about-container">
            <div class="main-options col-md-6">
                <img src="/static/about-me.jpg" class="img-fluid" alt="About me">
                <figure class="text-center">
                    <blockquote class="blockquote">
                      <q>It is better to see something once than to hear about it a thousand times.</q>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                      Unknown
                    </figcaption>
                  </figure>
                <div class="social-panel">
                    <a href="#" class="fa fa-facebook social-panel-icon"></a>
                    <a href="#" class="fa fa-twitter social-panel-icon"></a>
                    <a href="#" class="fa fa-youtube social-panel-icon"></a>
                    <a href="#" class="fa fa-instagram social-panel-icon"></a>
                </div>
            </div>
            <div class="main-options col-md-6">
                <h2 class="about-header">My name is Jakub Bujak</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Cras ornare sapien eu mi facilisis, sit amet consectetur eros mattis. 
                    Donec bibendum, neque et mollis molestie, 
                    odio felis interdum elit, eget gravida lectus enim sit amet felis.
                </p>
                <p>
                    Fusce sem dui, tincidunt sed sodales sit amet, posuere et turpis. 
                    Nam sit amet sapien nibh. Donec imperdiet porta nulla, id aliquet arcu 
                    suscipit et. Curabitur tincidunt aliquet est. Etiam ut ipsum massa. 
                    Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas 
                    venenatis nulla et blandit vestibulum. Proin quis dui sit amet est tempus 
                    dictum ac id velit. Mauris laoreet hendrerit mi, non varius justo ultrices 
                    gravida. Sed vel eleifend turpis. Aliquam ligula ligula, dignissim vitae
                     malesuada vel, vehicula bibendum velit. 
                    Pellentesque egestas nunc maximus mauris fermentum posuere at vitae ante.
                </p>
                <p>
                    Interdum et malesuada fames ac ante ipsum primis in faucibus. 
                    Pellentesque pretium suscipit lectus, 
                    quis sodales sapien placerat non.
                </p>
            </div>
        </div>
    </main>

{% endblock %}