{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% set active_page = "index" -%}
{% block body %}
    <main class="container">
        <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Contact</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas aliquet justo fermentum dolor sagittis vulputate.</p>
        </div>
    <div id="contact-container">
        Email: <a href="mailto:kuba.bujak0@wp.pl">kuba.bujak0@wp.pl</a><br>
        Tel. <a href="tel: 511 179 660">511 179 660</a>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Username">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="name@example.com">
          </div>
          <div class="mb-3">
            <label for="textarea" class="form-label">Example textarea</label>
            <textarea class="form-control" id="textarea" rows="3"></textarea>
          </div>
          <div class="mb-3">
            <input type="submit" id="submit" value="Send message">
          </div>
    </div>
    </main>

{% endblock %}
