{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% set active_page = "index" -%}
{% block body %}
    <main class="container">
        <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Contact</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas aliquet justo fermentum dolor sagittis vulputate.</p>
        </div>
    <div id="contact-container">
        Email: <a href="mailto:kuba.bujak0@wp.pl">kuba.bujak0@wp.pl</a><br>
        Tel. <a href="tel: 511 179 660">511 179 660</a>
        <form>
            <label for="nick">Username:
                <input type="text" id="nick" placeholder="kuba-bujak">
            </label><br>
            <label for="email">Email:
                <input type="text" id="email" placeholder="kuba.bujak0@wp.pl">
            </label><br>
            <label for="nick">Message:
                <textarea id="message" placeholder="This is my message to you..."></textarea>
            </label><br>
            <input type="submit" value="Wyślij">
        </form>
    </div>
    </main>
<footer id="footer">
        PROJEKT I WYKONANIE <a href="https://www.facebook.com/kuba.bujak.182">Jakub Bujak</a>
    </footer>
{% endblock %}
