<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>
<body>
<header>
    <div id="logo">
        <a href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='logo.png') }}"/>
        </a>
    </div>
    <nav>
        <ul id="navigation">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('aboutme') }}">About</a></li>
            <li><a href="{{ url_for('gallery') }}">Gallery</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
        </ul>
    </nav>
</header>
<main class="container">
    <h2 class="page-header">Contact</h2>
    <div id="contact-container">
        Email: <a href="mailto:kuba.bujak0@wp.pl">kuba.bujak0@wp.pl</a><br>
        Tel. <a href="tel: 511 179 660">511 179 660</a>
    </div>
    <footer id="footer">
        PROJEKT I WYKONANIE <a href="https://www.facebook.com/kuba.bujak.182">Jakub Bujak</a>
    </footer>
</main>


</body>
</html>