{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% set active_page = "index" -%}
{% block body %}

    <main class="container">
        <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Gallery</h1>
            <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas aliquet justo fermentum dolor sagittis vulputate.
            </p>
        </div>
        <div class="row">
            <div class="col-4 p-3 border bg-light">
                <div class="postcard">
                    <div class="photo">
                        <a href="static/01.jpg" data-toggle="lightbox" data-gallery="my-gallery"><img src="static/01.jpg" class="img-fluid" alt="Taktsang"></a>
                    </div>
                </div>
                    <p>Klasztor Taktsang - dolina Paro, Bhutan</p>
            </div>
            <div class="col-4 p-3 border bg-light">
                <div class="postcard">
                    <div class="photo">
                        <a href="static/02.jpg" data-toggle="lightbox" data-gallery="my-gallery"><img src="static/02.jpg" class="img-fluid" alt="Arashiyama"></a>
                    </div>
                    <p>Las bambusowy Arashiyama - Kyoto, Japonia</p>
                </div>
            </div>
            <div class="col-4 p-3 border bg-light">
                <div class="postcard">
                    <div class="photo">
                        <a href="static/03.jpg" data-toggle="lightbox" data-gallery="my-gallery"><img src="static/03.jpg" class="img-fluid" alt="Bryce Canyon"></a>
                    </div>
                    <p>Park Narodowy Bryce Canyon - Utah, USA</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 p-3 border bg-light">
                <div class="postcard">
                    <div class="photo">
                        <a href="static/04.jpg" data-toggle="lightbox" data-gallery="my-gallery"><img src="static/04.jpg" class="img-fluid" alt="Taj Mahal"></a>
                    </div>
                    <p>Mauzoleum Taj Mahal - Agra, Indie</p>
                </div>
            </div>
            <div class="col-4 p-3 border bg-light">
                <div class="postcard">
                    <div class="photo">
                        <a href="static/05.jpg" data-toggle="lightbox" data-gallery="my-gallery"><img src="static/05.jpg" class="img-fluid" alt="Serengeti"></a>
                    </div>
                    <p>Park Narodowy Serengeti, Tanzania</p>
                </div>
            </div>
            <div class="col-4 p-3 border bg-light">
                <div class="postcard">
                    <div class="photo">
                        <a href="static/06.jpg" data-toggle="lightbox" data-gallery="my-gallery"><img src="static/06.jpg" class="img-fluid" alt="Mu Cang Chai"></a>
                    </div>
                    <p>Dystrykt Mu Cang Chai - Yen Bai, Wietnam</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 p-3 border bg-light">
                <div class="postcard">
                    <div class="photo">
                        <a href="static/01.jpg" data-toggle="lightbox" data-gallery="my-gallery"><img src="static/01.jpg" class="img-fluid" alt="Taktsang"></a>
                    </div>
                    <p>Klasztor Taktsang - dolina Paro, Bhutan</p>
                </div>
            </div>
            <div class="col-4 p-3 border bg-light">
                <div class="postcard">
                    <div class="photo">
                        <a href="static/02.jpg" data-toggle="lightbox" data-gallery="my-gallery"><img src="static/02.jpg" class="img-fluid" alt="Arashiyama"></a>
                    </div>
                    <p>Las bambusowy Arashiyama - Kyoto, Japonia</p>
                </div>
            </div>
            <div class="col-4 p-3 border bg-light">
                <div class="postcard">
                    <div class="photo">
                        <a href="static/03.jpg" data-toggle="lightbox" data-gallery="my-gallery"><img src="static/03.jpg" class="img-fluid" alt="Bryce Canyon"></a>
                    </div>
                    <p>Park Narodowy Bryce Canyon - Utah, USA</p>
                </div>
            </div>
        </div>
        <script type="text/javascript">
$(document).on('click', '[data-toggle="lightbox"]', function(event) {
  event.preventDefault();
  $(this).ekkoLightbox();
  $(this).ekkolightbox({
  loadingMessage: "Loading…",
  showArrows: true,
  leftArrow: "<<<",
  rightArrow: ">>>"
});
});
</script>
    </main>
<footer id="footer">
        PROJEKT I WYKONANIE <a href="https://www.facebook.com/kuba.bujak.182">Jakub Bujak</a>
    </footer>

{% endblock %}