{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% set active_page = "index" -%}
{% block body %}
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
             </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="https://www.w3schools.com/bootstrap/ny.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://www.w3schools.com/bootstrap/la.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://www.w3schools.com/bootstrap/chicago.jpg" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" dataslide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" dataslide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <main class="container">
        <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Home Page</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas aliquet justo fermentum dolor sagittis vulputate.</p>
        </div>
        <div class="row g-2">
            <div class="main-options col-4 p-3 border">
                <h2 class="article-header">
                    About me
                </h2>
                <a href="{{ url_for('aboutme') }}">
                    <img src="static/02.jpg" class="img-fluid" alt="Arashiyama">
                </a>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent elementum in tellus nec efficitur. 
                    Nullam ac magna cursus, mollis lorem sed, condimentum lectus. <br><br>
                    <a href="{{ url_for('aboutme') }}">Read more...</a>
                </p>
            </div>
            <div class="main-options col-4 p-3 border">
                <h2 class="article-header">
                    Gallery
                </h2>
                <a href="{{ url_for('aboutme') }}">
                    <img src="static/02.jpg" class="img-fluid" alt="Arashiyama">
                </a>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent elementum in tellus nec efficitur. 
                    Nullam ac magna cursus, mollis lorem sed, condimentum lectus.<br><br>
                    <a href="{{ url_for('gallery') }}">See my gallery</a>
                </p>
            </div>
            <div class="main-options col-4 p-3 border">
                <h2 class="article-header">
                    Contact
                </h2>
                <a href="{{ url_for('aboutme') }}">
                    <img src="static/02.jpg" class="img-fluid" alt="Arashiyama">
                </a>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent elementum in tellus nec efficitur. 
                    Nullam ac magna cursus, mollis lorem sed, condimentum lectus. <br><br>
                    <a href="{{ url_for('contact') }}">Send message</a>
                </p>
            </div>
        </div>
    <article id="blog">
        <h2>MY BLOG</h2>
        <div class="blog-container">
            <div class="blog-image"></div>
            <div class="blog-content">
                <h3>Title1</h3>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    <a href="">See more...</a>
                </p>
            </div>
        </div>
        <div class="blog-container">
            <div class="blog-image"></div>
            <div class="blog-content">
                <h3>Title2</h3>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    <a href="">See more...</a>
                </p>
            </div>
        </div>
        <div class="blog-container">
            <div class="blog-image"></div>
            <div class="blog-content">
                <h3>Title3</h3>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    <a href="">See more...</a>
                </p>
            </div>
        </div>
        <div class="blog-container">
            <div class="blog-image"></div>
            <div class="blog-content">
                <h3>Title4</h3>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    <a href="">See more...</a>
                </p>
            </div>
        </div>
        <div class="blog-container">
            <div class="blog-image"></div>
            <div class="blog-content">
                <h3>Title5</h3>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    <a href="">See more...</a>
                </p>
            </div>
        </div>
    </article>
    </main>

{% endblock %}